<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/main.css" type="text/css">

</head>

<body>
    <% include partials/nav.ejs %>

        <h1>Revit Model Review Overview</h1>
        <p>An quick and easy way to get a grasp of what is in your model.</p>
</body>

</html>